[data-theme="light"] .btn--style-primary {
  --bg-color: #0057b8;

  &:hover {
    background-color: #2673cc !important;
  }
}

[data-theme="light"] .btn--style-primary.btn--disabled {
  --color: white !important;
}
