.nav__link:hover,
a.nav__link:focus-visible {
  text-decoration: none;
}

.nav__link-indicator {
  display: none;
}

.nav__link--active {
  font-weight: 500;
}

[data-theme="light"] .nav__link--active svg {
  color: #0057b8;
}

[data-theme="dark"] .nav__link--active svg {
  color: lab(54.1736% 13.3369 -74.6839);
}

#nav-dashboard {
  align-self: stretch;
  margin-bottom: 10px;
}
